.btn-get-element {
  display: block;
  padding: 20px;
  margin: 30px auto;
}

.halo {
  color: darkorange;
}

#correctClass, #resultClassName {
  font-size: 30px;
  width: 100%;
}
#footerWrapper {
  padding-top: 50px;
}

.reviews {
  width: 1164px;
  margin: 0 auto;
}

ol.bv-content-list.bv-content-list-reviews > li {
  list-style: none;
  padding-bottom: 60px;
}

.bv-content-header-meta {
  display: flex;
}

.bv-content-meta-wrapper {
  transform: translateY(3px);
}

.bv-content-reference-data.bv-content-author-name {
  display: flex;
}

.bv-rating-max.bv-rating-stars.bv-rating-stars-on.bv-width-from-rating-stats-40 {
  color: gold;
}

.bv-avatar-popup-target.bv-focusable {
  background: none;
  border: none;
}

.bv-content-title-container {
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-family: "arial","helvetica","clean",sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
}

.bv-content-summary-body-text {
  margin: 20px 0;
}

.bv-content-data-product-questions {
  display: flex;
}

.bv-content-data-recommend-no {
  display: flex;
}

.bv-content-data-recommend-no .bv-content-data-label-container {
  font-size: 12px;
  font-weight: 700;
}

.bv-content-data-recommend-no .bv-content-data-value {
  font-size: 12px;
  transform: translateY(2px);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.bv-content-header {
  display: block;
  width: 100%;
}

.bv-content-details-offset-on {
  display: inline-block;
  width: 64%;
  margin: 0;
}

.bv-content-details-container {
  display: inline-block;
  width: 35%;
  margin: 0;
}

.bv-content-product-questions {
  margin: 10px 0;
}

.bv-content-actions-container.bv-active-feedback {
  margin-top: 10px;
}

.bv-content-data-recommend-yes {
  display: flex;
}

/*quality - right section*/
ul.bv-content-secondary-ratings-bars {
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 0;
  list-style: none;
  max-width: 300px;
}

.bv-content-secondary-ratings-bars .bv-content-secondary-ratings-bar {
  width: 20%;
  height: 8px;
  border-right: 1px solid #333;
  background-color: gold;
}

.bv-off-screen {
  display: none;
}

.bv-popup-histogram-ratings-bar {
  margin: 0;
}

/* Was this review helpful? */
.bv-content-feedback-vote.bv-content-feedback-vote-active  {
  display: flex;
}

.bv-content-feedback-vote.bv-content-feedback-vote-active div {
  margin-right: 4px;
}

.bv-content-feedback-vote-request p {
  margin: 0;
  transform: translateY(3px);
}

/* button comment */
.bv-secondary-content-actions-container {
  display: flex;
  flex-direction: row-reverse;
}

.bv-content-btn.bv-content-secondary-btn.bv-focusable {
  color: rgb(51,51,51);
  font-weight: bold;
}

// review - header
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-header h2 {
  margin: 0;
  font-size: 26px;
}

.review-header .write-review {
  color: #004990;
  font-size: 18px;
  background-color: #b5cdef;
  padding: 9px 18px;
  border-radius: 5px;
}

// review - content

.review-content {
  display: flex;
}

.left-container, .right-container {
  flex-basis: 50%;
  padding: 5px;
}

/*end style for review section*/


.bv-control-bar.bv-control-bar-filter-offset {
  display: flex;
  justify-content: space-between;
  background-color: silver;
  height: max-content;
}

.left, .right {
  display: flex;
}

.left {
  padding-left: 10px;
}

.right .options {
  margin: auto 10px;
}

.options:after {
  content: "\25BC";
  font-weight: bold;
  font-size: 11px;
  margin-left: 5px;
}


.hamburger {
  width: 30px;
  height: 100%;
  background-color: orange;
}


.sc-price {
  display: flex;
}

.sc-currency, .sc-cents {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

.sc-dollars.plp-sc-dollars {
  font-size: 30px;
}

.grid-container {
  margin: 30px auto;
  border: silver 2px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-content: center center;
  //justify-content: center;
  //align-content: center;
  //width: 80vw;
  //height: 80vh;
  width: max-content;

  .grid-items {
    width: 80px;
    height: 80px;
    background-color: gray;
    //margin: auto;

    &:first-child {
      width: 100%;
      grid-column: 1/3;
    }

    &:last-child {
      grid-column: 2/3;
    }
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
